In [53]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
dolar = yf.download("USDBRL=X", start="2010-01-01", end="2025-01-01")['Close'].resample('M').last()
ibovespa = yf.download("^BVSP", start="2010-01-01", end="2025-01-01")['Close'].resample('M').last()

[*********************100%***********************]  1 of 1 completed
C:\Users\fabio\AppData\Local\Temp\ipykernel_23412\1854057712.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dolar = yf.download("USDBRL=X", start="2010-01-01", end="2025-01-01")['Close'].resample('M').last()
[*********************100%***********************]  1 of 1 completed
C:\Users\fabio\AppData\Local\Temp\ipykernel_23412\1854057712.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  ibovespa = yf.download("^BVSP", start="2010-01-01", end="2025-01-01")['Close'].resample('M').last()

In [67]:
igpm = pd.read_csv('data/igpm.csv').set_index('Data')
igpdi = pd.read_csv('data/igpdi.csv').set_index('Data')
igp10 = pd.read_csv('data/igp10.csv').set_index('Data')
inpc = pd.read_csv('data/inpc.csv').set_index('Data')
ipca = pd.read_csv('data/ipca.csv').set_index('Data')

In [68]:
dolar.index = igpm.index
ibovespa.index = igpm.index

In [69]:
df = pd.DataFrame()
df.index = dolar.index
df['Dolar'] = dolar
df['Ibovespa'] = ibovespa
df['IPCA'] = ipca
df['INPC'] = inpc
df['IGP10'] = igp10
df['IGPDI'] = igpdi
df['IGPM'] = igpm
df

           Dolar  Ibovespa  IPCA  INPC  IGP10  IGPDI  IGPM
Data
Jan/2010  1.8729   65402.0   NaN   NaN    NaN    NaN  0.63
Fev/2010  1.8060   66503.0   NaN   NaN    NaN    NaN  1.18
Mar/2010  1.7805   70372.0   NaN   NaN    NaN    NaN  0.94
Abr/2010  1.7287   67530.0   NaN   NaN    NaN    NaN  0.77
Mai/2010  1.8144   63047.0   NaN   NaN    NaN    NaN  1.19
...          ...       ...   ...   ...    ...    ...   ...
Ago/2024  5.6277  136004.0   NaN   NaN    NaN    NaN  0.29
Set/2024  5.4332  131816.0   NaN   NaN    NaN    NaN  0.62
Out/2024  5.7623  129713.0   NaN   NaN    NaN    NaN  1.52
Nov/2024  6.0139  125668.0   NaN   NaN    NaN    NaN  1.30
Dez/2024  6.1779  120283.0   NaN   NaN    NaN    NaN  0.94

[180 rows x 7 columns]

In [66]:
df.isnull().sum()

Dolar       0
Ibovespa    0
IPCA        0
INPC        0
IGP10       0
IGPDI       0
IGPM        0
dtype: int64

In [65]:
from statsmodels.tsa.vector_ar.vecm import select_coint_rank, VECM
rank_test = select_coint_rank(df[['IPCA', 'Dolar']], det_order=-1, k_ar_diff=2)
print(rank_test.rank)

1